/* colors */
.bg-thm-grey {
    background-color: #4a5c66;
}
.bg-thm-green {
    background-color: #80ba24;
}
.text-thm-grey {
    color: #4a5c66;
}
.text-thm-green {
    color: #80ba24;
}
.card-color {
    background-color: rgb(229 231 235);
}
.green-bg {
    background-image: linear-gradient(45deg, #6D9E1F 0%, #80ba24 51%, #96D82B 100%);
}
.red-bg {
    background-image: linear-gradient(45deg, #BC0000 0%, #FF0000 51%, #E26363 100%);
}
.grey-active-bg {
    background-image: linear-gradient(45deg, #283238 0%, #4a5c66 51%, #576C77 100%);
}
.grey-bg {
    background-color: #808f98;
}
.bg-white {
    background-color: #ffffff;
}
.selected-card {
    border: 4px solid #80ba24;
  }

  
/* Progressbar */
.rounded {
  border-radius: 30px !important;
}
.progress-container {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}
.progress-div {
    padding: 1px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}
.progress-bar {
    height: 1em;
    border-radius: 4px; 
    width: 0%;
    background-color: #80ba24;
}
.progress-bar {
    width: 0%;
}

/* Mixer Styling */ 
.containerMixer {
    position: relative;
    width: 240px;
    height: 630px;
    top: -30px;
    left: -60px;
    margin-left: auto;
    margin-right: auto;
  }
  
  #mixerLogo {
    position: absolute;
    top: 1em;
    left: 1em;
    z-index: 1;
    width: 380px;
    height: 630px;
  }
  
  #becherLogo {
    position: absolute;
    top: 4.7em;
    left: 2.8em;
    z-index: 2;
    width: 330px;
    height: 300px;
    opacity: 0.3;
  }
  
  #mlZahlLogo {
    position: absolute;
    top: 5em;
    left: 2em;
    z-index: 3;
    width: 380px;
    height: 300px;
  }  

  #myCanvas {
    position: absolute;
    top: 3.6em;
    left: 1.85em;
    z-index: 0;
    -webkit-clip-path: polygon(100% 0, 95% 79%, 91% 100%, 9% 100%, 4% 79%, 0% 0);
    clip-path: polygon(100% 0, 95% 79%, 91% 100%, 9% 100%, 4% 79%, 0% 0); 
  }
  
  .becherWrapper {
    position: absolute;
    z-index: 0;
    width: 237px;
    height: 330px;
    top: 3.6em;
    left: 2em;
    z-index: 0;
    margin-left: 32px;
    margin-right: 32px;
    -webkit-clip-path: polygon(100% 0, 97% 79%, 91% 100%, 9% 100%, 4% 79%, 0% 0);
    clip-path: polygon(100% 0, 97% 79%, 91% 100%, 9% 100%, 4% 79%, 0% 0); 
    overflow: hidden;
  }
  
  .inner-image {
    opacity: 0;
    object-fit: contain;
  }

  /* custom button-style */
.custom-btn {
    margin-right: 1em;
    padding: 0.75em 1.25em;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.custom-btn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.custom-btn:active {
    transform: scale(1.5);
}

/* blade - specific css */
.container {
    margin-left: auto;
    margin-right: auto;
}
p {
    margin-bottom: 0;
  }
.w-30px {
    width: 39px;
}
.w-40px {
   width: 60px;
}
.item-list {
   height: 40em;
   overflow-y: scroll;
}
.item-list-table {
    height: 35em;
    overflow-y: scroll;
    overflow-x: hidden;
}  
.item-liquid-list {
  height: 40em;
  overflow-y: scroll;
  overflow-x: hidden;
}
.w-95 {
    width: 95%;
}
.v-card {
    box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.4), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 0.375rem;
}
.content-container {
  min-height: 840px;
  width: 90%;
}
.main-container {
    width: 90%;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

  .table-img {
    width: 60px;
    height: 60px;
  }

  table td, table th {
    padding: 0.5rem;
  }
  th {
    background: #FFF;
  }
  tr:nth-child(odd) {background: #fafafa}
  tr:nth-child(even) {background: #FFF}
  table th {
    text-align: left;
  }
  table td {
    text-align: start;
  }
  table td:nth-child(2) {
    width: 30%;
  }
  table td:nth-child(3),
  table td:nth-child(4) {
    width: 20%;
  }
  table td:nth-child(5) {
    width: 10%;
  }

  .alert-table td:nth-child(2) {
    width: 60%;
  }
  .body {
    overflow-x: hidden;
  }

  .plus-icon-container {
    background-color: rgb(83, 153, 83);
    color: white;
    scale: 0.9;
  }

  .plus-icon {
    font-size: 12rem; /* Größe des Symbols ändern */
    display: flex;
    justify-content: center; /* Horizontal ausrichten */
    align-items: center; /* Vertikal ausrichten */
  }

  .green-background-rotate {
    position: absolute;
    top: 0em;
    left: 1em;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    background-color: #84CC16;
    background-image: linear-gradient(315deg, #2f480a 0%, #84CC16 74%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    transform: rotate(-3deg);
    z-index: -1;
}
.bg-container {
  position: relative;
}
.rounded-box {
  border-radius: 30px !important;
  padding: 5px;
}

.info-button {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.4;
}